.App {
  text-align: center;
}
.app {
  padding: 20vh 20%;
  height: 100vh;
}

.table-custom {
  text-align: center;
}

.dark {
  color: white;
  background-color: black;
}

.my-heading {
  margin-bottom: 2vh;
}
